@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat';
  src: url("../assets/fonts/montserrat.ttf");
}

.__gradient-text {
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'montserrat';
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cutoff-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.cutoff-text-1 {
  -webkit-line-clamp: 1;
}
.cutoff-text-2 {
  -webkit-line-clamp: 2;
}
.cutoff-text-3 {
  -webkit-line-clamp: 3;
}
